@import url("https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400");
body {
  background-color: #f2f2f2;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  body {
    width: 414px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  body {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  body {
    width: 1280px;
  }
}

footer {
  background-color: #f2f2f2;
}
footer img {
  height: 150px;
}
footer h2,
footer h3 {
  visibility: hidden;
  height: 1px;
  margin: 0;
  padding: 0;
}
footer h2 {
  grid-column-start: 3;
}
footer #social ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer #social ul a {
  color: #eb5428;
  text-decoration: none;
  display: grid;
  justify-items: center;
}
@media screen and (min-width: 1280px) {
  footer {
    padding: 10px;
    position: relative;
    top: 50px;
    display: grid;
  }
  footer .copyright {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
  }
  footer .copyright img {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  footer .copyright div {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  footer #social {
    grid-column-start: 3;
    grid-row-start: 1;
  }
}

html {
  background-color: rgba(122, 191, 191, 0.5);
}

nav {
  background-color: #f2f2f2;
  height: 125px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  text-transform: uppercase;
  display: grid;
  gap: 0;
  width: 125px;
  height: 125px;
}
nav ul li a, nav ul li#home {
  display: grid;
  align-items: center;
  justify-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #eb5428;
  margin: 15px;
}
nav ul li img {
  height: 75px;
  width: 75px;
}
nav ul li#home {
  background-color: #eb5428;
}
nav ul li#sign-in {
  justify-self: end;
}
nav ul li#sign-in svg {
  stroke: #eb5428;
}
nav ul li#sign-in a {
  margin: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  nav {
    width: 768px;
    height: 200px;
    position: absolute;
    top: 0;
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
  }
  nav ul li {
    height: 75px;
    width: 75px;
    grid-row-start: 2;
  }
  nav ul li#home {
    grid-row-start: 1;
  }
  nav ul li#home svg {
    height: 100%;
    width: 100%;
  }
  nav ul li#sign-in {
    position: absolute;
    top: 0;
    grid-row-start: 1;
  }
  nav ul li#sign-in a {
    margin: 10px;
  }
}
@media screen and (min-width: 1280px) {
  nav {
    position: absolute;
    top: 0;
    width: 1280px;
  }
  nav ul {
    display: grid;
    grid-template-columns: 200px 125px 125px 125px 125px 125px 125px 125px 200px;
  }
}
main {
  position: relative;
  display: grid;
}
main h1 {
  visibility: hidden;
  height: 1px;
}
main h2 {
  padding: 0;
  margin: 5px;
  text-align: center;
}
main a {
  text-decoration: none;
  color: #eb5428;
}
main #recipe ul {
  list-style: initial;
}
main aside {
  background-color: #7abfbf;
}
main #details ul li :first-child {
  font-weight: bold;
}
main .article-content ul {
  padding: 0;
}
main .article-content ul li a {
  text-decoration: none;
  color: #eb5428;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .article-content p {
  line-height: 1.5em;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  main {
    top: 200px;
    display: flex;
    flex-direction: column;
  }
  main .article-content {
    display: grid;
    grid-template-rows: 125px 1152px 300px;
  }
  main .article-content img {
    width: 768px;
  }
  main .article-content ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  main .article-content > div {
    padding: 5px;
  }
  main #details ul {
    text-align: center;
    padding: 0;
  }
  main #recipe {
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);
    text-align: center;
  }
  main #recipe li {
    padding: 10px;
    text-align: left;
  }
  main aside #side-dish-container {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main aside #side-dish-container .side-dish-list-item {
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    padding-top: 20px;
    gap: 10px;
  }
  main aside #side-dish-container .side-dish-list-item img {
    width: 100px;
  }
  main aside #side-dish-container .side-dish-list-item h3 {
    margin: 0;
  }
  main aside #side-dish-container .side-dish-list-item dl {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    height: 100px;
  }
  main aside #side-dish-container .side-dish-list-item dl dt,
main aside #side-dish-container .side-dish-list-item dl dd {
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  main {
    grid-template-rows: 100px 750px 100px 500px 500px;
    top: 125px;
  }
  main .article-content {
    display: grid;
    grid-template-columns: 125px 500px 655px;
  }
  main .article-content img {
    width: 500px;
  }
  main .article-content div {
    padding-left: 10px;
    padding-right: 10px;
  }
  main .article-content div p {
    line-height: 1.5em;
  }
  main .article-content > ul {
    border-color: #eb5428;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
  }
  main .article-content > ul li {
    padding: 10px;
  }
  main #details {
    display: grid;
    background-color: #0d0d0d;
    color: #7abfbf;
    justify-items: center;
  }
  main #details ul {
    width: 100%;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  main #details ul li {
    display: grid;
  }
  main #recipe {
    display: grid;
    grid-template-columns: 250px calc(100% - 250px);
    text-align: center;
  }
  main #recipe li {
    padding: 10px;
    text-align: left;
  }
  main aside {
    display: grid;
    justify-items: center;
    grid-template-rows: 40px 460px;
    height: 500px;
  }
  main aside #side-dish-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  main aside #side-dish-container .side-dish-list-item {
    justify-self: center;
    text-align: left;
  }
  main aside #side-dish-container .side-dish-list-item img {
    padding-left: 0px;
  }
  main aside #side-dish-container .side-dish-list-item > * {
    margin: 10px;
    padding-left: 10px;
  }
  main aside #side-dish-container .side-dish-list-item :last-child {
    font-weight: bold;
  }
}

h1,
h2,
h3,
nav a,
nav span,
figcaption,
menu li,
#social li,
footer {
  font-family: "Bebas Neue";
}

p,
dd,
li,
nav,
input {
  font-family: "Montserrat Regular";
}

dt {
  font-family: "Montserrat Bold";
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

nav a,
nav span,
figcaption,
menu li,
#social li,
footer {
  font-size: 20px;
}

p,
dd,
li,
nav,
input,
dt {
  font-size: 16px;
}

ul {
  list-style: none;
}

.search {
  position: absolute;
  top: 150px;
  left: 45%;
  display: flex;
  flex-direction: row;
}
.search input {
  height: 40px;
  border-color: #eb5428;
  border-width: 2px;
}
.search svg {
  stroke: #f2f2f2;
  background-color: #eb5428;
}
@media screen and (min-width: 768px) {
  .search {
    top: 25px;
    right: 150px;
    left: unset;
  }
}

/*# sourceMappingURL=styles.css.map */
