$violet: #590242;

.scroll {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: auto;
  overflow-y: hidden;

  section {
    margin: 10px;
    position: relative;
  }

  div {
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    height: 50px;
    width: 350px;
  }
}
#playlists .playlist-scroll {
  background-color: #2799fc;
  > div {
    background-color: #0f8dfb;
  }
}
#curated .playlist-scroll {
  background-color: #0d138a;
  > div {
    background-color: #090e74;
  }
}

.playlist-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  grid-template-rows: repeat(5, 1fr);
  display: grid;
  background-color: white;
  > div {
    margin: 15px 10px 0px 10px;

    display: grid;
    grid-template-columns: 0.5fr 1fr;
    text-align: center;
    gap: 5px;
    padding: 10px;
    dl {
      display: flex;
      margin: 0;
      flex-direction: column;
      dt {
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
      }
      dd {
        margin-inline-start: 0;
        font-size: 16px;
      }
    }
  }
}
dl {
  display: flex;
}

dt {
  padding-right: 5px;
}

audio {
  position: absolute;
  bottom: 150px;
  left: 5px;
}

.more {
  text-decoration: none;
  background-color: $violet;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  display: block;
  text-align: center;
  margin: 10px 0 30px 32px;

  &:hover {
    background-color: #020659;
  }
}

audio {
  &::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
  }
  &::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
  }
  &::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

#trending {
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px $violet;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $violet;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #020659;
  }
}

#playlists,
#curated,
#trending {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #020659;
    border-radius: 5px;

    &:hover {
      background-color: #ffffff;
    }
  }

  height: 550px;

  display: flex;
  flex-direction: column;

  button {
    align-self: flex-end;
    width: 150px;
    height: 50px;
    margin: 10px;
    color: #ffffff;
    background-color: #590242;
    border-style: none;
    padding: 5px;
  }
}

body {
  font-family: Optima, sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 22px;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
  color: #590242;
  line-height: 2em;
}

footer {
  background-color: white;
  color: #590242;
  text-align: center;
}
