// @import "./existing_css.scss";
@use "./existing_css.scss";
html {
  background-color: #020659;
}

body {
  max-width: 834px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  height: 75px;
  background-color: #030a8c;
  // position: absolute;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  h2 {
    visibility: hidden;
    height: 1px;
  }
  ul {
    @media screen and (min-width: 834px) {
      text-align: center;
      li {
        a {
          color: #ffffff;
          text-decoration: none;
          &[href="#home"] {
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}

main {
  background-color: #ffffff;
}
ul {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #2104d9;
  max-height: 0;
}

li {
  a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #ffffff;
  }

  display: flex;
  align-items: center;
  justify-content: center;
}

[href="#home"] {
  text-transform: capitalize;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 90px;
  // padding: 16px 16px;
}

li,
input {
  &:hover {
    background-color: #590242;
  }
}

label {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
label span {
  background-color: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 18px;
}
label span:before,
label span:after {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
label span:before {
  top: 5px;
}
label span:after {
  top: -5px;
}
input {
  display: none;
}
input:checked ~ ul {
  max-height: 500px;
}
input:checked ~ label span {
  background: transparent;
}
input:checked ~ label span:before {
  transform: rotate(-45deg);
}
input:checked ~ label span:after {
  transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before,
input:checked ~ label:not(.steps) span:after {
  top: 0;
}

@media screen and (max-width: 834px) {
  label[for="dropdown"] {
    top: -23px;
  }
  ul {
    margin-top: -22px;
  }

  section {
    button {
      align-self: flex-start;
    }
  }
}
header,
#trending h2 {
  padding-left: 25px;
  margin-bottom: 0px;
}

@media screen and (min-width: 834px) {
  nav {
    width: 834px;
  }
  ul {
    overflow: visible;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1.25fr 0.75fr 0.75fr 0.75fr 0.75fr;

    li {
      a {
        display: table-caption;
      }
      top: unset !important;
    }
  }
  label span,
  input {
    display: none;
  }
}

#playlist-container {
  grid-template-columns: 1fr 1fr;
  display: grid;

  @media screen and (max-width: 834px) {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
    display: block;
    #playlists,
    #curated {
      height: auto;
      margin: 0;
    }
    .playlist-scroll {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: unset;
      overflow-x: auto;
      overflow-y: hidden;
      .playlist-item {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        width: 150px;
      }
    }
  }
}
