body {
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    width: 414px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
