@import "./colors.scss";

footer {
  background-color: $white;
  img {
    height: 150px;
  }
  h2,
  h3 {
    visibility: hidden;
    height: 1px;
    margin: 0;
    padding: 0;
  }
  h2 {
    grid-column-start: 3;
  }
  #social {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      a {
        color: $red_orange;
        text-decoration: none;
        display: grid;
        justify-items: center;
      }
    }
  }
  @media screen and (max-width: 767px) {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #social {
      ul {
        width: 414px;
        padding: 0;
      }
    }
    .copyright {
      grid-column-start: 1;
      grid-row-start: 1;
      display: flex;
      img {
        width: 150px;
      }
      flex-direction: column-reverse;
      padding: 25px;
      align-items: center;
      > div {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    position: relative;
    top: 200px;
    display: grid;
    .copyright {
      grid-column-start: 1;
      grid-row-start: 1;
      display: flex;
      img {
        width: 150px;
      }
      flex-direction: column-reverse;
      padding: 25px;
      align-items: center;
      > div {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
    #social {
      grid-column-start: 3;
      grid-row-start: 1;
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 10px;
    position: relative;
    top: 50px;
    .copyright {
      grid-column-start: 1;
      grid-row-start: 1;
      //   display: grid;
      display: flex;
      flex-direction: row-reverse;
      width: 300px;
      img {
        grid-column-start: 1;
        grid-row-start: 1;
      }
      div {
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
      }
    }
    #social {
      grid-column-start: 3;
      grid-row-start: 1;
    }
    display: grid;
  }
}
