@import "./colors.scss";
main {
  position: relative;
  display: grid;

  h1 {
    visibility: hidden;
    height: 1px;
  }
  h2 {
    padding: 0;
    margin: 5px;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $red_orange;
  }
  #recipe {
    ul {
      list-style: initial;
    }
  }
  aside {
    background-color: $teal;
  }

  .article-content {
    ul {
      padding: 0;
      li {
        a {
          text-decoration: none;
          color: $red_orange;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
    p {
      line-height: 1.5em;
    }
  }
  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    top: 200px;
    display: flex;
    flex-direction: column;
    .article-content {
      display: grid;
      grid-template-rows: 125px 1152px 300px;
      img {
        width: 768px;
      }
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      > div {
        padding: 5px;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    grid-template-rows: 100px 750px 100px 500px 500px;
    top: 125px;
    .article-content {
      display: grid;
      grid-template-columns: 125px 500px 655px;
      img {
        width: 500px;
      }
      div {
        padding-left: 10px;
        padding-right: 10px;
        p {
          line-height: 1.5em;
        }
      }
      > ul {
        border-color: $red_orange;
        border-width: 1px;
        border-style: solid;
        display: flex;
        flex-direction: column;
        li {
          padding: 10px;
        }
      }
    }

    #details {
      display: grid;
      background-color: $black;
      color: $teal;
      justify-items: center;
      ul {
        width: 100%;
        margin: 0;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        li {
          display: grid;
          :first-child {
            font-weight: bold;
          }
        }
      }
    }

    #recipe {
      display: grid;
      grid-template-columns: 250px calc(100% - 250px);
      text-align: center;
      li {
        padding: 10px;
        text-align: left;
      }
    }

    aside {
      display: grid;
      justify-items: center;
      grid-template-rows: 40px 460px;
      height: 500px;

      #side-dish-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        .side-dish-list-item {
          justify-self: center;
          text-align: left;
          img {
            padding-left: 0px;
          }
          > * {
            margin: 10px;
            padding-left: 10px;
          }
          :last-child {
            font-weight: bold;
          }
        }
      }
    }
  }
}
