@import "./colors.scss";
nav {
  background-color: $white;
  height: 125px;
  ul {
    padding: 0;
    margin: 0;
    li {
      text-transform: uppercase;
      display: grid;
      gap: 0;
      a,
      &#home {
        display: grid;

        align-items: center;
        justify-items: center;
      }
      width: 125px;
      height: 125px;
      a {
        text-decoration: none;
        color: $red_orange;
        margin: 15px;
      }
      img {
        height: 75px;
        width: 75px;
      }

      &#home {
        background-color: $red_orange;
      }

      &#sign-in {
        justify-self: end;
        svg {
          stroke: $red_orange;
        }
        a {
          margin: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
}

@media screen and (min-width: 1280px) {
  nav {
    position: absolute;
    top: 0;
    width: 1280px;
    ul {
      display: grid;
      grid-template-columns: 200px 125px 125px 125px 125px 125px 125px 125px 200px;
    }
  }
}
