.search {
  position: absolute;
  top: 150px;
  //   margin: 0 auto
  left: 45%;
  display: flex;
  flex-direction: row;
  input {
    height: 40px;
    border-color: $red_orange;
    border-width: 2px;
  }
  svg {
    stroke: $white;
    background-color: $red_orange;
  }

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    top: 25px;
    right: 30%;
    left: unset;
  }
  @media screen and (min-width: 1280px) {
  }
}
