@import url("https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400");

h1,
h2,
h3,
nav a,
nav span,
figcaption,
menu li,
#social li,
footer {
  font-family: "Bebas Neue";
}

p,
dd,
li,
nav,
input {
  font-family: "Montserrat Regular";
}

dt {
  font-family: "Montserrat Bold";
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
nav a,
nav span,
figcaption,
menu li,
#social li,
footer {
  font-size: 20px;
}

p,
dd,
li,
nav,
input,
dt {
  font-size: 16px;
}
